body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.game-field {
  background: #bbada0;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;
  transition: transform 300ms;

  &:hover {
    background: #179921;
    transform: scale(1.05);
  }
}

.restart {
  background: #f1b2b2;
  transition: transform 300ms;

  &:hover {
    background: #f87474;
    transform: scale(1.05);
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}

.field-cell {
  transition: transform 120ms ease;
}

.field-cell--pop {
  transform: scale(1.1);
}

.theme-switcher {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #f3e096;
  font-size: 30px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background, transform 300ms;

  &:hover {
    background-color: #e7b800;
    transform: scale(1.1);
  }

  &__lightmode {
    background-color: #f3e096;
  }

  &__nightmode {
    background-color: #21366fff;

    &:hover {
      background-color: rgb(74, 94, 148);
    }
  }
}

.body__nightmode {
  background-color: #0c1735;
}

.game-field__nightmode {
  background-color: #636977ff;
}

.field-cell__nightmode {
  background-color: rgb(168, 173, 186);
}

.field-cell--2__nightmode {
  background: #cac6c3;
}

.field-cell--4__nightmode {
  background: #c1a167;
}

.field-cell--8__nightmode {
  background: #d37827;
}

.field-cell--16__nightmode {
  background: #e46f30;
}

.field-cell--32__nightmode {
  background: #d55130;
}

.field-cell--64__nightmode {
  background: #3056be;
}

.field-cell--128__nightmode {
  background: #e3bd4a;
}

.field-cell--258__nightmode {
  background: #ecc243;
}

.field-cell--516__nightmode {
  background: #ecba23;
}

.field-cell--1024__nightmode {
  background: #e2b617;
}

.field-cell--2048__nightmode {
  background: #eaba1a;
}

.info__nightmode {
  background-color: rgb(168, 173, 186);
}

.message__nightmode {
  background-color: rgb(168, 173, 186);
}
